body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  background-image: url(cfbg.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px;
}

h1 {
  color: #ffffff;
  font-size: 2em;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1em;
}

main {
  margin-top: 20px;
}

section {
  padding: 10px;
}

h2 {
  font-size: 1.5em;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: flex-start;
}

.item-image {
  width: 30%;
  height: 30%;
  margin-top: 30px;
}

.item-content {
  width: 100%;
  padding: 10px 20px;
}

.item-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.menucontent{
  list-style-type: none; /* loại bỏ dấu chấm trước mỗi li */
  columns: 2; /* chia ul thành 2 cột */
  -webkit-columns: 2; /* cho Safari và Chrome */
  -moz-columns: 2; /* cho Firefox */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
}